body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1,h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}
.radio{
    display: flex;
    padding: 10px;

}

label,
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;

}
input,
select,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: content-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    max-width: 580px;
}
